.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  /*background-color: black;*/
  /*background-image: 'img/card-back.png';*/
}

.hand {
  overflow: auto;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
